<div id="tabs">
    <ul class="ui-tabs-nav">
        <li><a href="#tabs_mapview">map view</a></li>
        <li><a href="#tabs_vehicles">vehicles</a></li>
        <li><a href="#tabs_assets">assets</a></li>
        <li><a href="#tabs_personnel">personnel</a></li>
        <li><a href="#tabs_maintenance">maintenance</a></li>
        <li><a href="#tabs_reports">reports</a></li>
        <li><a href="#tabs_administration">administration</a></li>
    </ul>
    <div id="tabs_mapview"></div>
    <div id="tabs_vehicles"></div>
    <div id="tabs_assets"></div>
    <div id="tabs_personnel"></div>
    <div id="tabs_maintenance"></div>
    <div id="tabs_reports"></div>
    <div id="tabs_administration"></div>
</div>